@model string
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<img src="~/images/greenfox.png">

<p>This is @Model, a fox.</p>


<h1>Tricksters and seductresses</h1>

<ul>
    <li>@Model is no trickster, boy:(</li>
</ul>
