@model string
<h2>Welcome to the land of Holy Food</h2>
<h3>Please choose preferred nourishment for @Model.</h3>

<p>Choose carefully.</p>


<form>
    <div style="display : flex">
        <div> let @Model eat  </div>
        <select id="foodSelector">
            <option>fairydust</option>
            <option>rainbows</option>
            <option>newborns</option>
            <option>lost souls</option>
        </select>
    </div>
</form>

<p></p>


<form>
    <div style="display : flex">
        <div>let @Model drink  </div>
        <select id="drinkSelector">
            <option>virgin's blood</option>
            <option>toad's saliva</option>
            <option>clear spirit</option>
            <option>iced blended brains</option>
        </select>
    </div>
</form>

<p></p>

<button onclick="myFunction()">nourish my baby</button>


