@{
    ViewData["Title"] = "Home Page";
}

<p></p>
<a href="/login">Login</a>

<p></p>

<img src="~/images/greenfox.png">

<p>This is a fox.</p>


<h1>Tricksters and seductresses</h1>

<ul>
    <li>tap dancing</li>
    <li>on minefield</li>
    <li>everyday</li>
</ul>