
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to the Underground Fox Club</h2>

<form action="/club/index" method="post"> 

    <div class="container">
        <label for="name"><b>Pls provide a name for your fox</b></label>
        <p></p>
        <input type="text" placeholder="Enter foxname" name="name" required>

        <button type="submit">GO</button>
    </div>

</form>