
<h2>Welcome to the Trickster Machine</h2>
<h3>You may hope so, but this machine alone cannot convert you(r fox) into a real trickster.</h3>

<p>You will also need some magic for that.</p>

<form>
    <select id="trickselector">
        <option>turn all birds into little dragons</option>
        <option>turn your enemies into slaves</option>
        <option>make nightmares come true</option>
        <option>let darkness reign</option>
        <option>make all children drop their icecream</option>
        <option>create infinite rainbow that makes everyone puke constantly</option>
        <option>duplicate yourself so that you'll finally have good company</option>
    </select>
</form>

<p></p>
<button onclick="myFunction()">add some magic</button>
