
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Matrix Checker</h2>
<p>Check if your matrix is increasing!</p>
<p>Add a Matrix and sit back while the evalutation happens.</p>
<p></p>
<p></p>
<p></p>

<form action="/matrix" method="post">
    < textarea name= "matrixInput" ></ textarea >< br >
    < button type= "submit" > Submit </ button >
    </ form >

    <p>Result:</p>
    <p>This matrix is not square, please try again!</p>
