
@{
    ViewData["Title"] = "Simba";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Simba</h2>

<p>Name:</p>
<p>@Model.Name</p>

<p>Balance:</p>
<p>@Model.Balance</p>

<p>Animal type:</p>
<p>@Model.AnimalType</p>
<p></p>
